#!/usr/bin/make -f
# This file is part of OpenPanel - The Open Source Control Panel
# OpenPanel is free software: you can redistribute it and/or modify it 
# under the terms of the GNU General Public License as published by the Free 
# Software Foundation, using version 3 of the License.
#
# Please note that use of the OpenPanel trademark may be subject to additional 
# restrictions. For more information, please visit the Legal Information 
# section of the OpenPanel website on http://www.openpanel.com/

build: build-stamp
build-stamp:
	./configure
	make
	cd limasubmit && ./configure && make && cd ..
	touch build-stamp

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_installdirs
	install -m 755 contrib/debian.init debian/lima/etc/init.d/limadaemon
	cp -rf limadaemon.app debian/lima/var/lima/bin/
	cp -rf limasubmit/limasubmit.app debian/lima/var/lima/bin/
	cp limacreate debian/lima/var/lima/bin/
	cp templates/* debian/lima/var/lima/templates
	touch install-stamp

binary-indep: build install

binary-arch: build install
	dh_installdocs -a
	dh_installdeb -a
	dh_compress -a
	dh_fixperms -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

clean:
	rm -f install-stamp build-stamp
	[ ! -f makeinclude ] || make clean
	cd limasubmit; [ ! -f makeinclude ] || make clean
	dh_clean

.PHONY: build binary binary-arch binary-indep clean install
